# IMPORTING LIBRARIES

In [1]:
!nltk.download('punkt')

'nltk.download' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import nltk
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# COLLECTING DATA

In [9]:
df = pd.read_csv("R:/IIT_MADRAS_DATA_SCINCE/DataSet/Healthcare Reviews/healthcare_reviews.csv")

In [10]:
df

                                           Review_Text  Rating
0          I have mixed feelings about my experience.        4
1    The staff was caring and attentive. I couldn't...       5
2          I have mixed feelings about my experience.        5
3          I have mixed feelings about my experience.        5
4    The healthcare provider was excellent. I had a...       3
..                                                 ...     ...
995  My experience was terrible. I would not recomm...       5
996  The service was disappointing. I won't be comi...       4
997    The service was okay, but nothing exceptional.        3
998        I have mixed feelings about my experience.        5
999  The staff was caring and attentive. I couldn't...       4

[1000 rows x 2 columns]